:root {
    --dodgerblue: dodgerblue;
    --white: white;
    --navlink-color: blue;
    --black: black;
}



header, footer {
    background-color: var(--dodgerblue);
    color: var(--white);
}


/* reset */
body {
    margin: 0;
    padding: 0;
}

/* element selectors */
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    max-width: 200px;
    max-height: 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 100vh;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--black);
    color: var(--dodgerblue);
}



/* classes */

.h1-header {
    text-shadow: 2px 2px 2px var(--black);
}

.mt {
    margin-top: 0.75rem;
}

.nav {
    display: block;
}

.pt {
    padding-top: 1.5rem;
}

.p {
    max-width: fit-content;
    text-align: center;
}

.section-about {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--dodgerblue);
    flex-grow: 1;
    align-content: inherit;
    max-width: 95%;
    align-items: center;
}

.section-contact {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px orange;
    flex-grow: 1;
    align-content: inherit;
    max-width: 95%;
    align-items: center;
}

.section-work {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px orangered;
    flex-grow: 1;
    align-content: inherit;
    max-width: 95%;
    align-items: center;
}



/* Media Queries  */

@media screen and{min-width: 623px;
    .nav {
        display: none;
    }
}